<div
  class="container bg-light d-flex justify-content-center align-items-center"
  style="
    border: solid rgb(13, 110, 253) 0.5px;
    margin-left: 30%;
    margin-top: 10%;
    width: 600px;
    height: 300px;
    border-radius: 10px;
  "
>
  <form formGroupName="loginForm" class="d-flex flex-column form-group">
    <div>
      <label for="name">Nome</label>
      <input id="name" class="form-control" type="text" />
    </div>
    <div>
      <label for="email">E-mail</label>
      <input id="email" class="form-control" type="text" />
    </div>
  </form>
</div>
