<div
  class="container bg-light d-flex justify-content-center align-items-center"
  style="
    border: solid rgb(13, 110, 253) 0.5px;
    margin-top: 10%;
    width: 600px;
    height: 500px;
    border-radius: 10px;
  "
>
  <form
    [formGroup]="cadForm"
    class="d-flex flex-column form-group"
    (ngSubmit)="submit()"
  >
    <div>
      <label for="name">Nome</label>
      <input
        formControlName="name"
        id="name"
        class="form-control"
        type="text"
      />
      <span
        style="color: red; font-size: 10pt"
        *ngIf="!cadForm.get('name').valid && cadForm.get('name').touched"
        >!Por favor preenha o campo</span
      >
    </div>
    <div>
      <label for="email">E-mail</label>
      <input
        formControlName="email"
        id="email"
        class="form-control"
        type="text"
      />
      <span
        style="color: red; font-size: 10pt"
        *ngIf="!cadForm.get('email').valid && cadForm.get('email').touched"
        >!Por favor preenha o campo</span
      >
    </div>
    <div>
      <label for="password">Password</label>
      <input
        formControlName="password"
        id="password"
        class="form-control"
        type="text"
      />
      <span
        style="color: red; font-size: 10pt"
        *ngIf="
          !cadForm.get('password').valid && cadForm.get('password').touched
        "
        >!Por favor preenha o campo</span
      >
    </div>
    <div>
      <label for="phone">Telefone</label>
      <input
        formControlName="telefone"
        id="phone"
        class="form-control"
        type="text"
      />
      <span
        style="color: red; font-size: 10pt"
        *ngIf="
          !cadForm.get('telefone').valid && cadForm.get('telefone').touched
        "
        >!Por favor preenha o campo</span
      >
    </div>
    <button type="submit" class="btn btn-primary my-4 col-3">Sign Up</button>
  </form>
</div>
