<a class="list-group-item list-group-item-action">
  <div class="d-flex align-items-center">
    <span style="font-size: 30pt; color: rgb(13, 110, 253)">+</span>
    <a class="pt-2" style="text-decoration: none">Add new contact</a>
  </div>
</a>
<div class="list-group overflow-auto" style="max-height: 800px; height: 800px">
  <a
    class="list-group-item list-group-item-action"
    *ngFor="let conversa of chats"
    (click)="getConversa()"
  >
    <img src="{{ img }}" style="max-width: 50px" />
    {{ conversa.username }}
    <p>{{ conversa.id }}</p>
  </a>
</div>
